body {
	/* background-color: cyan; */
	background-image: url(../images/bg.jpg);
	background-size: cover;
	background-position: 50% 50%;
	background-attachment: fixed;
	font-family: Helvetica, sans-serif;
}


.main {
	background-color: rgba(255,255,255,0.75);
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.75);
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
	border-radius: 20px;
}

h1 {
	text-align: center;
	font-size: 48px;
	font-family: 'Poppins', sans-serif;

}

h2 {
	text-align: center;
	text-transform: uppercase;	
	letter-spacing: 10px;
	font-weight: normal;
}

img {
	/* centres the image */
	display: block;
	margin: 0 auto;
	border: 5px solid black;
	border-radius: 50%; 
	width: 300px;
}

h3 {
	background-color: black;
	color: white;
	padding: 5px 10px;
	margin-bottom: 0;
	cursor: pointer;
}

ol,
ul {
list-style: none;	
}

a {
	color: hotpink;
	font-weight: bold;
	text-decoration: none;
}
a:hover {
	color: pink;
	text-decoration: underline;
}